/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat:300,400,700,800|Roboto+Slab");
$base-font: "Montserrat",sans-serif;
$header-font: "Droid Serif", serif;
$base-medium-font: "Roboto Slab", serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 1rem;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #ed1515;
$blue: #00f0ff;
$yellow: #fff000;
$orange: #FF5E00;
$green:#00efc4;
$white: #fdfdfd;
$gray-light:#f6f6f6;
$gray: #bababa;
$gray-medium: #262626;
$gray-dark: #202020;
$gray-darker:#1c1c1c;
$black:#070707;
$purple:#FF00F1;
$blue-light:#32a2ff;

