.cours-header{
  height: 20vh !important;
  background-size:cover !important;
  background-position:center !important;
  background-repeat: no-repeat !important;
  h1{
    color:white;
    font-family:$base-font;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 50px;
  }
}

.cours-page{
 .title-underline{
  border-bottom: solid 2px $green;
}
.title-underline-purple{
  border-bottom: solid 2px $purple;
}

.title-underline-red{
  border-bottom: solid 2px $red;
}

h2{
  padding-top:1em;
  padding-bottom:0.25em;
  font-family:$base-font;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 30px;
}
h3{
 padding-top:1em;
 font-family:$base-font;
 text-transform: uppercase;
 font-size: 20px;
 font-weight:bold;
}
a{
  color:$red;
  border-bottom:solid 1px $red;
  text-decoration: none;
  &:hover{
    color:$purple;
  }
}
img{
  height:300px;
}
.text-corps{
  padding:0.5em;
  background-color:$white;
  border-radius:5px;
}
.highlight-yellow{
  background-color:$yellow;
}
.underline-yellow{
  border-bottom: solid 1px $green;
}
.underline-green{
  border-bottom: solid 1px $green;
}
.underline-purple{
  border-bottom: solid 1px $purple;
}

.underline-red{
  border-bottom: solid 1px $red;
}

.underline{
  border-bottom: solid 1px black;
}

.bold{
  font-weight:bold
}
.font-green{
  color:$green;
}
}



.paragraphe-cours{
  border-radius:5px;
  padding-left:1em;
  padding-right:1em;
  img{
    padding-top:1em;
    padding-bottom:1em;
  }
}

.paragraphe-cours-inverse{
  background-color: $gray-darker;
  border-radius:5px;
  padding-left:1em;
  padding-right:1em;
  position: relative;
  margin-top:5px;
  img{
    padding-bottom:1em;
  }
  h3{
   color:white;
   border-bottom: solid $green 1px;
   padding-top:1em;
   font-family:$base-font;
   text-transform: uppercase;
   font-size: 20px;
   font-weight:bold;
 }
 p{
  color:white;
}
.text-corps-inverse{
 padding:0.5em;
}
a{
  color:$green;
  border-bottom:solid 1px $white;
  text-decoration: none;
  &:hover{
    color:$red;
  }
}
}



.paragraphe-cours-inverse-red{
  background-color: $gray-darker;
  border-radius:5px;
  padding-left:1em;
  padding-right:1em;
  position: relative;
  margin-top:5px;
  img{
    padding-bottom:1em;
  }
  h3{
   color:white;
   border-bottom: solid $red 1px;
   padding-top:1em;
   font-family:$base-font;
   text-transform: uppercase;
   font-size: 20px;
   font-weight:bold;
 }
 p{
  color:white;
}
.text-corps-inverse{
 padding:0.5em;
}
a{
  color:$yellow;
  border-bottom:solid 1px $white;
  text-decoration: none;
  &:hover{
    color:$red;
  }
}
}




xmp {
  background-color: $gray-medium;
  color:$gray;
  font-weight:bold;
  padding: 1em;
  white-space: pre-wrap;
  border-radius: 10px;
}
