<nav class="navbar navbar-shrink navbar-expand-lg navbar-dark fixed-bottom" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand js-scroll-trigger" href="/"></a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mx-auto">

      <% if user_signed_in? %>

      <li class="nav-item">
        <a class="nav-link" href="https://guidetogalaxy.herokuapp.com/cours#home" id="btn-antivol-nav">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://guidetogalaxy.herokuapp.com/cours#philosophie" id="btn-antivol-nav">philosophie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://guidetogalaxy.herokuapp.com/cours#aarrr" id="btn-faq-nav">AARRR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://guidetogalaxy.herokuapp.com/cours#activation" id="btn-challenge-nav">Activation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://guidetogalaxy.herokuapp.com/cours#acquisition" id="btn-challenge-nav">Acquisition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://guidetogalaxy.herokuapp.com/cours#retention" id="btn-challenge-nav">Rétention & Referal</a>
      </li>
      <li class="nav-item">
        <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>

      <% else %>

      <li class="nav-item">
        <%= link_to "Connexion", new_user_session_path, class: "nav-link nav-link-blue" %>
      </li>
      <li class="nav-item">
        <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
      </li>

      <% end %>

    </ul>
  </div>
</nav>
