<nav class="navbar navbar-shrink navbar-expand-lg navbar-dark fixed-bottom" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand js-scroll-trigger" href="/"></a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" id="btn-antivol-nav">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#philosophie" id="btn-antivol-nav">philosophie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aarrr" id="btn-faq-nav">AARRR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#activation" id="btn-challenge-nav">Activation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#acquisition" id="btn-challenge-nav">Acquisition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#retention" id="btn-challenge-nav">Rétention & Referal</a>
      </li>
    </ul>
  </div>
</nav>
