<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours2.jpg" %>');">
  <h1>FrameWork AARRR</h1>
</div>

<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-purple">
        <h2>Cours</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Le FrameWork de Dave McClure</h3>
        <div class="text-corps">
          <p>Monter un business est quelque chose d’ardu, il faut donc réduire la complexité du problème. Au- delà des méthodes de marketing classiques Dave McClure le fondateur du fond d’investissement early stage 500 startups à développer le framework AARRR.</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/irjgfW0BIrw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - L’Acquisition</h3>
        <div class="text-corps">
          <p>Le fait d’acquérir un client par divers canaux, que ce soit des canaux internet ou des stratégies de commerce classique, flyers etc … mais nous, nous allons nous concentrer uniquement sur les canaux d’acquisitions Web.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - L’Activation</h3>
        <div class="text-corps">
        <p>Le fait de transformer un visiteur en quelque chose, mettre un produit au panier et commander, une installation, un email récupéré. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - La Rétention</h3>
        <div class="text-corps">
        <p>C’est l’étape  la plus importante il faut garder les gens que l’on a déjà. Il faut un repeat business pour créer de la valeur. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Le Revenu</h3>
        <div class="text-corps">
          <p>Vendre le produit, si vous êtes un business payant. Si vous n’arrivez pas encore à monétiser dans un premier temps votre business, si par exemple vous bossez sur une app gratuite alors cela peut être le nombre de téléchargements, de connexions journalières etc … Il faut vraiment que vous arriviez au plus vite à monétiser votre business.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - Le Référal</h3>
        <div class="text-corps">
        <p>C'est le fait que les gens parlent de vous. Si on a un produit gratuit cette étape vient avant le revenu.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>7 -  Les metrics à suivre</h3>
        <div class="text-corps">
          <p><span class="underline-purple bold">L’acquisition :</span> Nombre de visiteurs / Cout de l’acquisition = Coût d’un visiteur</p>
          <p><span class="underline-purple bold">L’activation :</span> Taux de conversion des visiteurs, par exemple pourcentage de visiteurs laissant leur email ou pourcentage de visiteurs ajoutant un produit au panier</p>
          <p><span class="underline-purple bold">La Rétention :</span> Il faut suivre vos cohortes, c'est à dire que vous aller suivre les visiteurs faisant une action spécifique sur votre site en semaine 1 (par exemple utilisent votre porduit) et vous regardez si il l'utilisent toujours en semaine 2, semaine 3 etc ...</p>
          <img src="<%= image_path 'aarrr-1.jpg' %>" alt=""><br>
          <p><span class="underline-purple bold">Le Revenu :</span> Le CA de la boîte, si vous avez un business gratuit il faut trouver ce qui est votre metric de valeur. Par exemple chez Facebook leur métric c’était le nombre d’utilisateurs journaliers. Snapchat, nombre d’envois par jour et par personne, vous pourrez monétiser à un moment un envoi. Mais les boîtes gratuites peuvent faire débat sur leurs métrics.</p>
          <p><span class="underline-purple bold">Le Référal :</span> C’est le CA généré par canal de Référal. traquer un bouton share etc …</p>
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>Acquisition</th>
                <th>Activation</th>
                <th>Retention</th>
                <th>Revenue</th>
                <th>Referal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nombre de visiteurs  / Cout de l’acquisition</td>
                <td>Taux de conversion</td>
                <td>Suivi des cohortes</td>
                <td>Ca de la boîte</td>
                <td>Ca généré par un canal de Référal</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>8 - Méthodologie de travail avec le FrameWork AARRRR</h3>
        <div class="text-corps">
          <p><span class="underline-purple bold">1er étape la rétention :</span> <br><br>Toute entreprise se construit avant tout c’est la Rétention, si elle n’est pas bonne alors on se concentre sur les datas. Si vous avez de la rétention alors ça veut dire que vous avez un Product Market Fit (PMF). Vous pouvez avoir une boite qui à un PMF mais une acquisition très difficile où c’est compliqué de convertir les gens, mais si vous avez un PMF alors vous aller garder les gens à vie et bâtir un vrai business. <br><br> La seule manière de construire une rétention de réel est d’itérer au maximum sur votre produit et le plus vite possible. <br><br> Il faut dès le départ que vous ayez une rétention très forte sur des petits chiffres, car plus vous allez élargir votre produit et toucher les couches de consumer après les Early Adopters, à ce moment là les chiffres de rétention vont baisser. </p>
          <p><span class="underline-purple bold">2eme étape l’acquisition :</span> <br><br>On étudie toute les sources d’Acquisition, on regarde le nombre de personnes que ça nous ramene et on divise par le coût que ça nous a couté. Exemple de CPC sur une campagne Adwords ou Facebook. <br><br> Attention toutefois, en fonction de la pub vous pouvez avoir de leads de plus ou moins bonne qualité. Il faut donc mettre cette étape en abîme avec l’activation . <br><br> Il faut aussi intégrer le coût temps dans vos campagnes d’acquisition. Et le temps que vous pouvez passer. <br><br> Si vous trouvez un bon canal d’acquisition qui marche de manière exceptionnelle, alors à ce moment là il faut l’utiliser jusqu’à épuisement. Attention, il peut y avoir une liquidité dans l’acquisition, c’est à dire que le nombre de personnes à qui vous parlez via une pub s’épuisent, et donc les effets de traction importante que l’on a eus au début s’épuisent peu à peu. <br><br> Plus vous allez grossir plus le coût d’acquisition par personne va augmenter, il faut vraiment que vous ayez les coûts d’acquisition les plus faibles possible le plus longtemps possible. Vous ne pouvez pas avoir la même acquisition que les sites matures, sinon le jour où votre boîte sera plus importante à ce moment là vos coûts d’acquisition seront plus importants.  </p>
          <p><span class="underline-purple bold">3eme étape l’activation</span> <br><br>Optimiser l’activation, avoir une home page une landing page ou un site bien faits. Il va falloir la travailler de manière quotidienne  et réaliser un maximum de test A/B <br><br> Par définition quand vous allez faire de l’activation vous allez définir une cible et cette cible il va falloir bien lui parler pour qu’elle s’active. Il va donc falloir dans l’idéal sortir une landing page par cible d’acquisition. </p>
          <p><span class="underline-purple bold">4eme étape le revenu</span> <br><br> La seule manière de mesurer les revenus est de mesurer les cash flow.</p>
          <p><span class="underline-purple bold">5eme étape le référal</span> <br><br> Trouver des astuces pour faire partager des gens. Essayer au maximum de faire du care en amont pour faciliter le travail de cette étape</p>
          <img src="<%= image_path 'aarrr-2.jpg' %>" alt="" style="height:600px!important;"><br>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>9 - Quantitative & Comparative Measurement</h3>
        <div class="text-corps">
          <p><span class="underline-purple bold">Quantitative :</span> On regarde de manière générale si les metrics évoluent ou non, on est dans l’optimisation.</p>
          <p><span class="underline-purple bold">Comparative : </span> On fait des tests A/B on faisant des tests radicalement différents pour voir ce qui marche ou non. Le but est de prendre l’orthogonale de ce que l’on fait déjà pour voir si cela peut booster la croissance.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>10 - Faire du Deep Diving </h3>
        <div class="text-corps">
          <p>C’est- à-dire que l’on va regarder le framework dans son intégralité par funnel. C’est-à -dire que l’on va analyser toutes les métriques pour un segment de clientèle donné et pour une stratégie d’acquisition donnée. On pourra comme cela comparer l’ensemble des ROI de manière efficace. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-purple">
        <h2>Ressources</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - SlideShare Dave Mcclure</h3>
        <div class="text-corps">
        <p><a href="https://fr.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version">Les slides</a> de la présentation de Dave McClure</p>
        </div>
      </div>
      <div class="paragraphe-cours">
        <h3>2 - Présentation détaillée de The Family</h3>
        <div class="text-corps">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s2EBIai6rvM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
