<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours5.png" %>');">
  <h1>Facebook Ads</h1>
</div>



<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-red">
        <h2>Cours</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Comment marche Facebook Ads </h3>
        <div class="text-corps">
        <p>Real time bidding sur Facebook  : Enchère pour pouvoir prendre la timeline d’un utilisateur, ça dépend de la personne, ça dépend du nombre de gens on se bat tous pour afficher une pub sur une timeline d’un utilisateur.</p>
        <a href="https://www.facebook.com/business/help/430291176997542">Toutes les infos ici</a>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Toucher des personnes que l’on connait  </h3>
        <div class="text-corps">
          <p>Facebook ne diffuse pas tous les updates à tous nos fans. Facebook fait le tri des post que l’on voit, il trie par les goûts et par la viralité du post. Si on fait un post Facebook va l’afficher à 100 - 200 personnes regarde si il a de la vitalité puis diffuse à 1000 si le post devient virale etc … Donc plus on fait du contenu de qualité plus celui sera diffusé.</p>
          <p>On peut donc promouvoir, en bossant des posts, dans le cas on a une communauté active on peut passer là dessus.  On choisi un budget et un durée de diffusion. Vous pouvez calibrer le ciblage.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>3 - Toucher des personnes que l’on ne connait pas</h3>
        <div class="text-corps">
          <p>On utilise l'interface de Facebook dédiée à la publicité ou un module annexe comme <a href="https://adespresso.com/">Adespresso</a> (très utile pour aller vite et faire des tests AB)</p>
          <p><span class="bold underline">Les avantages</span></p>
          <ul>
            <li>
              <p>Tester rapidement vos idées</p>
            </li>
            <li>
              <p>Faire de targeting démographique complexe </p>
            </li>
            <li>
              <p>Il est gratuit</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - Comment se structure une publicité Facebook </h3>
        <div class="text-corps">
          <ul>
            <li>
              <p>0 - Avant toute chose vous devez avoir une page Facebook</p>
            </li>
            <li>
              <p>1 - Vous commencez par une campagne où vous aller définir un objectif, comme ramener des personnes sur votre site internet. </p>
            </li>
            <li>
              <p>2 - Définir une audience : on définit une ou plusieurs audiences en fonction des critères que l’on souhaite</p>
            </li>
            <li>
              <p>3 - Ensuite on design nos pubs avec les visuels etc … </p>
            </li>
          </ul>
          <img src="<%= image_path 'facebook-1.jpg' %>" alt="" style="height:300px;">
          <p><span class="bold">Des exemples d'une bonne campagne : </span></p>
          <p><a href="https://iletaitunepub.fr/2016/04/airbnb-devoile-nouvelle-campagne-de-publicite-livethere/">Airbnb Facebooks Ads</a></p>
          <img src="<%= image_path 'facebook-2.jpg' %>" alt="" style="height:500px;">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - les audiences </h3>
        <div class="text-corps">
          <p>L'interet de Facebook Ads est de pouvoir cibler de manière très précise des personnes en fonction de leurs goûts, vous pouvez comme cela faire de la publicité très efficaces sur des prospects froids.</p>
        <p><span class="bold">Taille de l'audience :</span> moins de 10 000 c’est nul, à plus de 1 millions c’est pas homogène mais vérifier avec le CPC </p>
        <p><span class="bold">Cibler les goûts : </span> cibler les personens qui aiment telles ou telles pages</p>
        <p><span class="bold">Cibler le comportement : </span> très utile pour des apps pour un comportement social ponctuel - ex voyage</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - Suivre vos conversions </h3>
        <div class="text-corps">
          <p>Afin de suivre vos conversions vous devez ajouter un <a href="https://www.facebook.com/ads/manager/pixel/facebook_pixel/?act=10203384887647026&pid=p1">Pixel Facebook</a> à votre site internet</p>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>
