<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours5.png" %>');">
  <h1>Google Analytics</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-red">
        <h2>Cours</h2>
      </div>
      <p><br>L'idée de ce cours est de configurer proprement google analytics afin de pouvoir raisonner en Deep Dive et maximiser votre ROI</p>

      <div class="paragraphe-cours">
        <h3>1 - Quel est l’intérêt de Google Analytics ?</h3>
        <div class="text-corps">
          <p>Se <span class="highlight-yellow">fixer une hypothèse</span> , <span class="highlight-yellow">définir un objectif</span> et regarder
          si ce que l’on fait marche ou non. Par exemple : "je souhaite avoir 50% des visiteurs de mon site qui télécharge mon application" ou
          encore "je souhaite avoir 15% des utilisateurs qui se connectent à mon application tous les jours"</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - Comment marche Google Analytics ?</h3>
        <div class="text-corps">
          <p>On met un bout de code Javascript sur toute les pages de votre site internet qui va envoyer des informations à GA lorsqu’un
            utilisateur se connecte ou fait une action sur notre site internet. <span class="highlight-yellow">Pour GA chaque utilisateur est un cookie</span></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Architecture de Google Analytics</h3>
        <div class="text-corps">
          <p><span class="underline-red bold">Compte GA :</span> Compte relié à votre compte Gmail, qui va vous permettre d'avoir acces à GA</p>
          <p><span class="underline-red bold">Propriétés :</span> Les différents site reliés à votre compte GA</p>
          <p><span class="underline-red bold">Vues :</span> Différentes vues associées à votre site où vous pouvez appliquer des filtres par exemple sur les IP.
         Je vous conseille d’avoir une vue avec toutes les données et une vue de production. </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - Présentation de l'interface</h3>
        <div class="text-corps">
          <p><span class="underline-red bold">Audience :</span> Toutes les données concernant vos visiteurs</p>
          <p><span class="underline-red bold">Acquisition :</span> Pour savoir d’où vient votre cible, campagne adwords, email, FacebookAds etc ….</p>
          <p><span class="underline-red bold">Comportement :</span> Savoir où les personnes vont sur votre site et comment elles naviguent. </p>
          <p><span class="underline-red bold">Conversion :</span> Vous informe de l’état de vos conversions </p>
          <p><span class="bold">Attention aux données :</span> <span class="highlight-yellow">En fonction de la boite que vous avez, les données peuvent
          être très différentes</span> et de ce que vous trackez. Si vous avez une boite SAAS il faut vraiment avoir des données qui traduisent de la récurrence.
          Si vous avez seulement une landing page vous allez avoir un grand taux de rebond qui ne traduit pas forcement un non intérêt pour votre boîte.
          Ici dans les assurances il y a peu de visites récurrentes en effet la personne paye une fois puis ne revient plus sur le site.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Audience</h3>
        <div class="text-corps">
          <p>On retrouve ici toutes les informations sur la <span class="highlight-yellow">nature des visiteurs</span> à savoir : données démographiques,
            la valeur des clients actifs, <br><br> Une session pour google Analytics c’est une personne qui vient sur votre site qui a un certain nombre
            d’interactions et qui repart. Si un utilisateur reste inactif plus de 30 min la session devient nulle.</p>
          <p><span class="bold">Returning visitor :</span> visiteur qui a visité il y a maximum deux ans sur le site</p>
          <p><span class="bold">Not set :</span> attention c’est un robot, où quelque chose dont on ne se sait pas d’où ils viennent. </p>
          <p>Ensuite, vous pouvez descendre les données une par une (Données démographiques, Centres d’intérêts, données géographiques, comportement, technologie, mobile, analyse comparatives) </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - Acquisition</h3>
        <div class="text-corps">
        <p>Cette interface vous présente par quel canal d’acquisition vos visiteurs sont venus quelque soit :</p>
        <p><span class="underline-red bold">La source :</span>  Adwords, Direct, Facebook etc … <br><br> Par Direct on sous entend que google n’est
        pas arrivé à attribuer la source d’acquisition de l’utilisateur, dans votre tête ça doit être un peu comme not set.
        Ils ont tapé directement l’url ils ont cliqué depuis un lien pdf, ça peut être un robot. Du coup pensez à
        filtrer vos IP pour avoir de vraies données de production</p>
        <p><span class="underline-red bold">Le support :</span> cpc, organic, mail etc ...</p>
        <p><span class="underline-red bold">Les mots clefs :</span> De recherche des visiteurs</p>
        <p>Vous disposez d’une partie plus détaillée pour tout ce qui est : Adwords, Réseaux sociaux et campagnes de marketing.</p>
        <p>C'est partie de google analytics est importante car vous allez voir ici quels sont les canaux d'acquisition les plus rentables et donc
          ainsi affiner votre stratégie d'acquisition</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Comportement</h3>
        <div class="text-corps">
        <p>Que fait l’utilisateur sur le site internet :</p>
        <p>Vous allez donc retrouver l’ensemble des pages vues sur le site internet, avec le nombre de vues. </p>
        <p>Vous pouvez aussi retrouver le flux du comportement des utilisateurs.</p>
        <p>Le plus important dans cette section ce sont <span class="bold">les pages vues </span>et <span class="bold">les événements</span>
          que nous allons voir après.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>7 - Les Objectifs </h3>
        <div class="text-corps">
        <p>On peut définir des objectifs, laisser un email ou télécharger un pdf et on peut voir ensuite sur l’ensemble des sessions le nombre
          qui a rempli l’objectif.</p>
        <p><span class="underline-red">Exemple d’objectifs :</span></p>
        <ul>
          <li>
            <p>Création d’un compte client</p>
          </li>
          <li>
            <p>Achat d’un produit</p>
          </li>
          <li>
            <p>Téléchargement d’un contenu</p>
          </li>
          <li>
            <p>Partage sur un réseau social </p>
          </li>
          <li>
            <p>Inscription à une newsletter </p>
          </li>
          <li>
            <p>Durée sur une page etc … </p>
          </li>
        </ul>
        <p>Vous pouvez définir aussi un tunnel de conversion par objectif spécifique ce qui vous permet de voir à quel moment les gens
           abandonnent dans la réalisation de l’objectif. </p>
        <p>Il existe quatre types d'objectifs, dont voici la liste :</p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type d'objectif </th>
              <th scope="col">Description</th>
              <th scope="col">Exemple</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Destination</td>
              <td>Chargement d'un emplacement spécifique  </td>
              <td>Page ou écran d'application de remerciement suite à une inscription</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Durée</td>
              <td>Sessions d'une durée minimale spécifique  </td>
              <td>10 minutes ou plus passées sur un site d'assistance</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Pages/Écrans par session  </td>
              <td>Un utilisateur consulte un nombre spécifique de pages ou d'écrans.  </td>
              <td>Cinq pages ou écrans ont été chargés.</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Événement</td>
              <td>Déclenchement d'une action définie comme un événement </td>
              <td>Recommandation sur un réseau social, lecture d'une vidéo, clic sur une annonce</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>8 - Modèle d'attribution</h3>
        <div class="text-corps">
          <p><span class="underline-red bold">Définition Google :</span> Un modèle d'attribution est une règle (ou un ensemble de règles)
            qui détermine la façon dont le crédit des ventes et des conversions est attribué aux points de contacts dans les chemins de conversion.
            Par exemple, le modèle Dernière interaction, dans Analytics, affecte 100 % du crédit aux points de contacts finaux (c'est-à-dire les clics)
            qui précèdent immédiatement les ventes ou les conversions. En revanche, le modèle Première interaction affecte 100 % du crédit aux points
            de contact au début des chemins de conversion.</p>
          <p><a href="https://support.google.com/analytics/answer/1662518?hl=fr">Liste des modèles d'attributions</a></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>9 - Les métriques importantes</h3>
        <div class="text-corps">


          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Metrique</th>
                <th scope="col">Définition</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sessions</td>
                <td>Les sessions représentent le nombre de sessions individuelles initiées par l'ensemble des utilisateurs de votre site</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Utilisateurs</td>
                <td>Utilisateurs comptés de manière unique sur votre site</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Pages vues</td>
                <td>Nombre de pages consultées sur votre site</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Pages / Session </td>
                <td>Nombre de pages consultées par session, cette métrique n'est pas intéréssante dans le cas d'une landing page</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Durée moyenne par session</td>
                <td>Temps que reste un utilisateur sur le site par session</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Taux de rebond</td>
                <td>Utilisateur n'ayant consulté qu'une seule page sur votre site</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Taux de conversion</td>
                <td>Nombre d'utilisateurs convertis / Nombre total d'utilisateurs</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Réalisation de l'objectif</td>
                <td>Nombre de fois où l'objectif à été réalisé</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Valeur de l’objectif</td>
                <td>Valeur de votre objectif calculé sur le nombre de réalisations de l'objectif</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Clic</td>
                <td>Nombre de clics effectués sur une pub par exemple</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>Coût</td>
                <td>Coût d'une campagne de PUB, Adwords par exemple</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>CPC</td>
                <td>Coût Par Clic, coût que que coûte un clic</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>CPA</td>
                <td>Coût Par Acquisition, coût que coûte une acquisition ou la rélisation d'un objectif.</td>
              </tr>
              <tr>
                <th scope="row">14</th>
                <td>ROI</td>
                <td>Retour sur investissement, normalement calculé comme suit : (Marge)/(Cout de l'acquisition))</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>10 - Importation de données externes</h3>
        <div class="text-corps">
          <p>certaines informations ne peuvent être remontées dans Google analytics (ex: le coût de vos pubs Facebook). Il est donc nécéssaire de créer un fichier CSV pour remonter vos données vous trouverez <a href="http://www.audiaweb.com/blog/importer-des-donnees-de-cout-dans-google-analytics/#sthash.XR6yhGbt.KbYHGvDa.dpbs">la méthode ici</a></p>
        </div>
      </div>


      <div class="title-underline-red">
        <h2>TP</h2>
      </div>



      <div class="paragraphe-cours">
        <h3>1 - Implémenter GA</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse-red">
          <p>1 - Vous ouvrez un compte GA</p>
          <p>2 - Allez dans Admin - dans la colonne propriété choisir créez une propriété</p>
          <p>3 - Insérez le code de suivi dans la balise head de votre site</p>
        </div>
      </div>



      <div class="paragraphe-cours">
        <h3>2 - Créer une vue de production avec les IP filtrés.</h3>
        <div class="text-corps">
          <p>Il est important de créer une vue de travail et une vue de production où vous allez filter votre IP pour éviter de polluer vos données</p>
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Aller dans Admin - dans la colonne propriété choisir créer une Vue</p>
          <p>2 - Choisir Filtres et ajouter un filtre</p>
          <p>3 - Filtrer par IP, vous pouvez trouver votre IP ici : <a href="http://www.mon-ip.com/">http://www.mon-ip.com/</a></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Configurer un événement</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Ajouter un event à une balise a </p>
          <p>Les évents se codent de la manière ci-dessous</p>
          <xmp>
            ga(‘send’, ‘event’,
            catégorie,   <- ‘Video’
            action,      <- ‘Play’
            label,        <- ‘My first drive’
            value,         <- ‘0’ valeur monétaire par exemple
            interaction  <- ‘true’ si on veut que l’event soit utilisé dans le calcul des durée et des sessions.
            );
          </xmp>
          <p>Vous pouvez donc implémenter un évènement de la manière suivante</p>
          <xmp>
            <a href="#" class="btn btn-primary" onclick="ga('send', 'event', 'button', 'click', 'button-test');">test button</a>
          </xmp>
          <p>2 - Faire un click sur le bouton et regarder l'evenement dans la section "Comportement" de GA</p>
        </div>
      </div>



      <div class="paragraphe-cours">
        <h3>3 - Configurer un Objectifs</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Aller dans Admin et selectionner votre vue</p>
          <p>2 - Ajouter un objectif</p>
          <p>3 - Choisir l'objectif que vous souhaitez. Je vous recommande dans un premier temps de prendre l'objectif de type destination où vous indiquez l'url de la page que vous souhaitez suivre. Vous pouvez choisir la destination égale à" sauf si votre URL est dynamique</p>
          <p>4 - Option Entonnoir de conversion, à choisir si vous voulez annalyser un tunnel de conversion spécifique à votre objectif, cela va vous permettre de voir où peuvent se passer certains problèmes</p>
          <p>5 - Vérifiez votre objectif avant de le valider</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Mettre en place le commerce électronique </h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - Aller dans admin, puis votre vue, puis cliquer sur "paramètres du commerce électronique"</p>
          <p>2 - Activer "État" et "Activer les produits associés", puis cliquer sur Etape suivante</p>
          <p>3 - Il faut ensuite renvoyer les données associées au produit acheté lorsqu'une vente est effectuée. La doc de GA <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce">se trouve ici</a></p>
          <p>L'idée est que lorsqu'un utilisateur se rend sur votre "page merci" vous renvoyez les données à GA</p>
          <xmp>
            <script>
            (function() {
              ga('require', 'ecommerce');
              ga('ecommerce:addTransaction', {
                'id': '1',
                'revenue': '40',
              });
              ga('ecommerce:addItem', {
                'id': '1',
                'name': 'Basket',
                'category': 'Chaussures',
                'price': '150',
                'quantity': '1'
              });
              ga('ecommerce:send');
            })();
            </script>
          </xmp>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Mettre en place un bon Dashboard</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>L'idée est de faire du deep dive, on va donc configurer un Dashboard avec toutes les variables de suivi depuis l'acquisiton au revenu</p>
          <table class="table" style="background-color:#333333; color: white;">
            <thead>
              <tr>
                <th scope="col">Source</th>
                <th scope="col">Clics</th>
                <th scope="col">Coût</th>
                <th scope="col">CPC</th>
                <th scope="col">Nombre de ventes</th>
                <th scope="col">CPA Vente</th>
                <th scope="col">ROI</th>
                <th scope="col">Marge</th>
              </tr>
            </thead>
          </table>
        <p>1 - Créer vos variables</p>
        <p>Aller dans Admin -> Vue -> Selectionner "Statistique Calculée"</p>
        <p>Créer une nouvelle Statistique Calculée, attention à bien definir si vous avez une devise, une nombre flottant</p>
        <p>2 - Créer votre Dashboard</p>
        <p>Aller dans personalisation -> Rapports personalisées -> Nouveau rapport personalisé</p>
        <p>Vous indiquez vos groupes statistiques : CPC, CPA, Clic,Statistique Calculée etc...</p>
        <p>Vous indiquez votre dimension : Source</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - UTM de pour traquer vos actions</h3>
        <div class="text-corps">
        </div>
      </div>
      <div class="paragraphe-cours-inverse-red">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        <p>Rendez vous sur <a href="https://ga-dev-tools.appspot.com/campaign-url-builder/">Campaign URL Builder</a></p>
        <p>Les Url que vous allez definir ici vont vous servir à traquer si vos campagnes de pub sur le net sont efficaces,
         mais aussi à intégrer des paramètres pour faire des tests A/B sur Optimizely ou de faire de l'affichage spécifique aux visiteurs
        de votre site via une pub donnée. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - Lancer une campagne d'acquisition</h3>
      </div>


      <div class="title-underline-red">
        <h2>Ressources</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Lean Analytics</h3>
        <div class="text-corps">
          <a href="https://www.amazon.fr/Lean-Analytics-Alistair-Croll/dp/1449335675/ref=sr_1_1?ie=UTF8&qid=1515143874&sr=8-1&keywords=lean+analytics"><img src="<%= image_path "prototyping-2-22.jpg" %>" alt="" style="width:200px"></a>
        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>
