<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours3.jpg" %>');">
  <h1>Start-up = Growth</h1>
</div>



<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-yellow">
        <h2>Cours</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 -  Start up = Growth</h3>
        <div class="text-corps">
          <p>Ce cours est tiré d’un <a href="http://www.paulgraham.com/growth.html">article de Paul Graham </a> que je vais synthétiser </p>
          <p>La différence entre les start-ups et les entreprises classiques, est que les start-ups sont conçues de manière à croître quel que soit l'environnement. Depuis plusieurs années nous avons été dans un environnement décroissant avec pour autant des start-ups avec des croissances exponentielles. Cette croissance est possible car elles visent des oportunités de marché.</p>
          <p>Le plus important est donc de trouver un problème à résoudre et qui compte pour les gens. A partir de ce moment là vous aller pouvoir avoir de la traction</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - La croissance résout tous les problèmes</h3>
        <div class="text-corps">
        <p>La croissance résout tous les problèmes, vous cherchez à recruter si vous avez de la croissance ce n’est pas un problème. Vous voulez lever des fonds, si vous avez de la croissance ce n’est pas un problème. Vous voulez revendre votre boîte, ça sera beaucoup plus facile avec de la croissance que le contraire.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Les 3 caractéristiques d’une start-up</h3>
        <div class="text-corps">
        <p>
          <ul>
            <li>Scalable : (Chaque client coûte moins cher à acquérir que le précédent)</li>
            <li>Répétable : (Vous pouvez répéter le business model d’un point de vue géographique par exemple)</li>
            <li>Profitable : (Votre boite est cash flow positive)</li>
          </ul>
          Attention, on entend souvent qu’une boîte peut perdre de l’argent pendant longtemps mais ce n’est pas pour cela qu’elle ne génère pas de revenus. Par exemple Facebook a fait de la publicité directe contrairement à ce que l’on croit, ils ont gagné 382 000$ la première année. Le fait de gagner du cash rapidement doit être primordial pour vous.
        </p>
        <p><span class="bold">Point sur la Scalabilité :</span>
          <br>
          <br>
          Pour chaque vente :
        <ul>
          <li>vos coûts de vente baissent</li>
          <li>les revenus montent</li>
          <li>le rendement est croissant (vu que les couts sont fixes)</li>
        </ul>
        </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Les 3 phases de croissance d’une start-up </h3>
        <div class="text-corps">
        <p><span class="bold underline-green">Phase 1 :</span> Il y a toujours une période initiale qui peut être très longue ou très courte à la recherche du PMF et de la croissance, Airbnb 38mois, Uber 2 semaines.</p>
        <p><span class="bold underline-green">Phase 2 :</span> Dès que la croissance est là et que le product market fit est trouvé à ce moment là il suffit de faire un focus et de travailler pour maintenir cette croissance. </p>
        <p><span class="bold underline-green">Phase 3 :</span> Optimiser son marché, ou faire de nouveaux produits ou nouvelles choses. On commence toujours dans une niche et quand on a 80% de la niche  la question est : est- ce- que je sors de ma niche ou pas. C’est le moment où la start up passe du stade de start up au stade de compagnie. </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Adopter la bonne mentalité dés le départ</h3>
        <div class="text-corps">
            <p><span class="bold">Raisonner à la semaine :</span> vous dire que la semaine prochaine vous aurez réussi votre start up</p>
            <p><span class="bold">Raisonner en Milestones et non en planning :</span> vous devez réussir chacune des étapes les unes derrière les autres. Il faut gagner toutes les batailles pour gagner la guerre. </p>
            <p><span class="bold">Garder son Focus sur :</span> votre produit et vos clients</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>5 - Comment caractériser la croissance ?</h3>
        <div class="text-corps">
          <p>Il faut vous fixer une métrique et la suivre, cette métrique doit être la métrique la plus en aval possible. Dans le cas d’un produit payant c’est le cash que vous encaissez, dans le cas d’un produit gratuit c’est par exemple le nombre d’utilisateurs actifs par jour. </p>
          <p><span class="bold">Life metric :</span> l’argent gagné par semaine ou le nombre d’utilisateurs actifs (dans le cas d’un produit gratuit). C’est la métrique la plus en aval possible. Ne pas forcement regarder cette métrique en absolu mais la croissance de cette métrique. </p>
          <p><span class="bold">Metric d’optimisation :</span> si les métriques en aval explosent alors les métriques en amont explosent (pas besoin de se poser de question). Taux de conversion etc … on regarde ces metrics si la croissance ralentit. </p>
          <p><span class="bold">Vanity metric :</span> ce sont les metrics le plus en amont, exemple, nombre de devis. Elles n’ont pas de valeur business en soi.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - Définir un growth rate </h3>
        <div class="text-corps">
          <p>Une fois que vous avez défini votre life metric alors à ce moment là il faut définir un growth rate par semaine.</p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Growth Rate</th>
                <th scope="col">Situation de la boite</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> < 1% </td>
                <td> Warning </td>
              </tr>
              <tr>
                <td> 2% - 5% </td>
                <td> Boîte normale </td>
              </tr>
              <tr>
                <td> 5% - 7% </td>
                <td> Très bonne boîte </td>
              </tr>
              <tr>
                <td> +7% </td>
                <td> Boîte exceptionnelle </td>
              </tr>
            </tbody>
          </table>
        <p>Calcul du growth rate : </p>
        <p><span class="bold highlight-yellow">GR = ((end value)/(begining value))^(1/nb week) - 1</span></p>
        <p>Donc ensuite toutes les semaines vous regardez si vous êtes en-dessus ou en-dessous de ce growth rate et vous menez les actions nécessaires.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - Pourquoi se fixer un growth rate ?</h3>
        <div class="text-corps">
          <p>C’est la seule manière de voir si votre boîte pourra peut-être valoir un jour quelque chose :</p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Weekly</th>
                <th scope="col">Yearly</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> 1% </td>
                <td> 1,7x </td>
              </tr>
              <tr>
                <td> 2% </td>
                <td> 2,8X </td>
              </tr>
              <tr>
                <td> 5%  </td>
                <td> 12,6x </td>
              </tr>
              <tr>
                <td> 7% </td>
                <td> 33,7x </td>
              </tr>
              <tr>
                <td> 10% </td>
                <td> 142x </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="title-underline-yellow">
        <h2>Ressources</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Blog de Paul Graham</h3>
        <div class="text-corps">
        <p>  <a href="http://www.paulgraham.com/">Lien direct</a> vers le blog de Paul Graham</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - Hackers & Painters: Big Ideas from the Computer Age</h3>
        <div class="text-corps">
        <p>Un livre sympa de Paul Graham</p>
        <a href="https://www.amazon.com/Hackers-Painters-Big-Ideas-Computer/dp/1449389554"><img src="<%= image_path 'growth-1.jpg' %>" alt="" style="height:300px;"></a>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
