<div id="large-header" class="large-header " style="background-image:url('<%= image_path "image_header.jpg" %>')">
  <canvas id="demo-canvas"></canvas>
  <div id="home" class="baseline d-flex align-items-center justify-content-center">
    <div class="baseline-text">
      <h1>Guide to Galaxy</h1>
      <h2>Construction d'un E-business autour du framework AARRR</h2>
      <%= link_to "Voir les cours" , cours_path, class: "btn btn-purple-header hvr-float", id: "home-button" %>
    </div>
  </div>
</div>
