<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours3.jpg" %>');">
  <h1>Product Market Fit</h1>
</div>




<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline-yellow">
        <h2>Cours</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>0 - Avant toute chose !</h3>
        <div class="text-corps">
          <p><span class="bold">« The most common mistake startups make is to solve problems no one has. »</span><br> - <a href="http://www.paulgraham.com/">Paul Graham</a></p>
          <p><span class="bold">« no team, even smart as i am can beat the market »</span><br> - <a href="https://fr.wikipedia.org/wiki/Marc_Andreessen">Marc Andreessen</a></p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Qu’est ce que le product market fit ?</h3>
        <div class="text-corps">
          <p><span class="underline-green bold">Definition :</span> <span class="highlight-yellow">C’est un produit qui rencontre un marché et qui peut-être vendu au-delà des efforts que l’on peut fournir.</span></p>
          <p>Cette définition se résume en trois questions :
            <br>
            <ul>
              <li>Est ce que <span class="highlight-yellow">ma cible comprend </span> ce que je fais ? </li>
              <li>Est ce que <span class="highlight-yellow">ma cible achète</span> ce que je fais ? </li>
              <li>Est ce que <span class="highlight-yellow">les personnes qui ont acheté en parlent autour d’elles</span> ? </li>
            </ul>
            Si la réponse est oui à ces trois questions alors vous êtes bien dans les conditions d’un product market fit.
          </p>
        </div>
      </div>



      <div class="paragraphe-cours">
        <h3>2 -Est ce que ma cible comprend ce que je fais ?</h3>
        <div class="text-corps">
          <p>Il faut que <span class="highlight-yellow">votre cible comprène en mois de 10 secondes ce que vous faites</span>. Ca peut être plus ou moins dur suivant les produits et suivant votre cible.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 -Est ce que ma cible achète ce que je fais ?</h3>
        <div class="text-corps">
          <p>Souvent votre cible va comprendre ce que vous faites mais ne va pas acheter. C'est à dire que vous pouvez avoir de l'engoument pour votre produit, mais votre produit n'est pas assez bien ou il y a une incopréhension au niveau de solution qui fait que les gens n'achètent pas. C'est pour cela que lorsque vous faites de l'acquistion et que les personnes laissent un email, un téléphone, sur votre site il faut aller leur parler</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 -Est ce que les personnes qui ont acheté en parlent autour d’elles ? </h3>
        <div class="text-corps">
          <p>Avoir un bon produit ;) </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Attention en terme de stratégie !</h3>
        <div class="text-corps">
          <p>Lorsque vous menez des action au sein de votre start up, notaement pub, lever des fonds, <span class="highlight-yellow">vous devez être conscient si vous êtes dans une situation de product market fit ou non</span>.
          Par exemple ça ne sert à rien de dépenser beaucoup d'argent en pub si vous n'avez pas de product market fit. Si vous souhaitez lever de l'argent c'est plus facilement réalisable si vous avez un product market fit (en effet dans ce vcas là vous avez de la traction).</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Méthodologie pour trouver un PMF </h3>
        <div class="text-corps">
          <p>Un product market fit comme nous l’avons dit c’est un produit qui rencontre un marché, par conséquent nous avons l’équation suivante :
            <br>
            <br>
            <span class="highlight-yellow">Je vends un produit (A) à un marché (B) de la manière (C).</span>
            <br>
            <br>
            Afin de diminuer la complexité du problème il ne faut pas faire varier tous les paramètres. Il faut fixer B, car le marché est très difficile à faire bouger et nous ne pouvons pas évangéliser un marché. Et nous faisons varier A. En ce qui concerne C ce sont les différentes sources d’acquisition, autant essayer de la fixer aussi dès le départ C.
            <br>
            <br>
            Au début vous n’avez pas forcement de produit donc vous :
            <ul>
              <li>Créez une landing page</li>
              <li>Vous ciblez une audience sur Fb ou Adwords</li>
              <li>Vous regardez les taux de conversion : tant que vous n’ êtes pas à 30% vous travaillez votre value proposition</li>
            </ul>
          </p>
          <p>Dans le cas où vous n'avez pas de <span class="highlight-yellow">PMF vous pivoter</span>, c'est à dire vous <span class="highlight-yellow">repartez de zéro</span></p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - Attentions aux conseils</h3>
        <div class="text-corps">
          <p>Si vous revez un conseil stratégique d'une personne pour votre boite vous devez vous demander si il est applicable pour une boite qui a un product market fit ou qui en a pas (recruter des gens, depenser beaucoup d'argent en publicité etc ...)</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>8 - L'importance d'anaylser vos metrics : Le Aha Moment !</h3>
        <div class="text-corps">
          <p>C'est le moment où vous comprenez ce qui fait que les utilisateurs restent sur votre service.</p>
          <ul>
            <li><span class="bold">Facebook :</span> 7 amis en moins de 10 jours</li>
            <li><span class="bold">Twitter :</span>  30 follorwers minimum</li>
            <li><span class="bold">Zynga :</span> les personnes revenant un jour après l'inscription on une plus forte rétentionq que les autre</li>
            <li><span class="bold">Dropbox : </span> les personnes qui ont mis un fichier dans un dossier Dropbox</li>
          </ul>
        </div>
      </div>

      <div class="title-underline-yellow">
        <h2>Ressources</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>1 - Peter Reinhardt, co-founder and CEO of Segment</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_6pl5GG8RQ4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div class="text-corps">
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Creative conficence</h3>
        <div class="text-corps">
          <p>Livre écrit pas les fondateurs de <a href="https://www.ideo.com/eu">IDEO</a></p>
        <a href="https://www.creativeconfidence.com/"><img src="<%= image_path 'pmf-1.jpg' %>" alt=""></a>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Steal like an artist</h3>
        <div class="text-corps">
        <a href="https://www.amazon.fr/Steal-Like-Artist-2018-Calendar/dp/152350157X/ref=asap_bc?ie=UTF8"><img src="<%= image_path 'pmf-3.jpg' %>" alt=""></a>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Show your work</h3>
        <div class="text-corps">
        <a href="https://www.amazon.fr/Show-Your-Work-Austin-Kleon/dp/076117897X/ref=asap_bc?ie=UTF8"><img src="<%= image_path 'pmf-2.jpg' %>" alt=""></a>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
