

<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours4.jpg" %>');">
  <h1>Prototyping II</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">

      <div class="title-underline">
        <h2>Cours</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - But du cours</h3>
        <div class="text-corps">
          <p>Les but de ce cours est de commencer à vous faire réaliser des test A/B de manière organisée efficace. Pour cela on va utiliser un module VWO, vous pouvez aussi utiliser Optimizely mais celui ci est payant après 30 jours (l'UX est par contre meilleur que VWO). Nous allons maintenant abandonner Strikingly et tous les autres modules non payants de ce type, pour partir sur un site codé de A-Z qui sera plus efficace pour implémenter les modules de tracking futurs.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>2 - L'A/B testing c'est quoi ?</h3>
        <div class="text-corps">
          <p>Beaucoup de choses sont contre intuitives dans le business. L'idée est donc de vous vixer des hypothèse, par exemple : changer votre value proposition, changer un boutton etc ... et de voir ce qui marche le mieux</p>
          <br>
          <p>Cas d'étude sympa, sur les experinces d'A/B testing menées lors de la <a href="https://blog.optimizely.com/2010/11/29/how-obama-raised-60-million-by-running-a-simple-experiment/">campagne de obama</a> en 2008 </p>
          <br>
          <p>Présentation de l'A/B testing par le CEO d'Optimizely</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Eh00PoR76NY" frameborder="0" allowfullscreen></iframe>
          <br>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>3 - Faire un bon test A/B</h3>
        <div class="text-corps">
        <p>1 - Définir une métrique de succès quantifiable : généralement on prendra comme funnel visites sur le <span class="highlight-yellow">site -> sign up -> money </span></p>
        <img src="<%= image_path "prototyping-2-1.jpg" %>" alt="">
        <p>2 - Explorer avant de rafiner : faire plein de textes d'exploration pour voir des divergens de résultats importants, puis quand vous arrivez à trouver une bonne voie alors à ce moment là vous rafinier</p>
        <img src="<%= image_path "prototyping-2-2.jpg" %>" alt="">
        <p>3 - Etre minimaliste et réduire le choix : un seu call to action, formulaire simple etc ...</p>
        <p>4 - Les mots sont importants : concentrez vous sur vos call to action</p>
        <img src="<%= image_path "prototyping-2-3.jpg" %>" alt="">
        <p>5 - Echouer rapidement</p>
        <p>6 - Commencer dès maintenant, plus vite vous faiterais de tests plus vite vous pourrez voir ce qui marche ou non </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>4 - VWO</h3>
        <div class="text-corps">


        </div>
      </div>

      <div class="title-underline">
        <h2>TP</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Lancer une landing sur une base HTML & CSS</h3>
        <div class="text-corps">
        <p> Repartir avec le site codé lors des cours avec le Wagon ou partir avec un <a href="https://startbootstrap.com/">template Bootstrap</a>. Le revoir et bien l'adapter à votre cible.</p>
        <p> Vous avez <a href="https://startbootstrap.com/template-overviews/bare/">ici</a> un template de démarage avec bootstrap pour ceux qui veulent partir d'un template vierge</p>
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>1 - J'utilise <a href="https://startbootstrap.com/template-overviews/agency/">le template suivant</a> sur startbootstrap (penser à bien appeler les bons fichiers de style et js dans votre index)</p>
          <p>2 - J'ajuste ensuite le template en fonction de ma cible <a href="https://assurancesvelo.github.io/challenge-cyclos/"> voir le site pour les évenments sportifs</a></p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>6 - Implementer un ou plusieurs des services suivants</h3>
        <div class="text-corps">
        <p>1 - Mailchimp : pour les newsletter</p>
        <p>2 - Un formulaire de contact avec <a href="https://www.wufoo.com/">Wufoo</a> ou <a href="https://formspree.io/">Fromspree</a></p>
        <p>3 - Un fichier à télécharger</p>
        <p></p>
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>7 - Intégrer VWO ou Optimizely</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>8 - Acheter votre nom de domaine</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>9 - Mettre votre site en ligne</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>10 - Lancer une pub</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>11 - Mesurer vos metrics</h3>
        <div class="text-corps">
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
        </div>
      </div>



      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>








