

<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours4.jpg" %>');">
  <h1>Prototyping II</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline">
        <h2>Cours</h2>
      </div>

      <div class="paragraphe-cours">
        <h3>1 - Le role de la landing page</h3>
        <div class="text-corps">
          <p>Le rôle de landing page est de convaincre une cible de faire une action sur notre site pour <span class="highlight-yellow">valider une hypothèse</span>. Par exemple, on peut valider une value proposition, une feature, un produit ou encore un pricing. Il faut que votre cible comprenne ce que vous faites en <span class="highlight-yellow">moins de 5 secondes</span></p>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



    </div>
  </div>
</div>








