

<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours4.jpg" %>');">
  <h1>Prototyping I</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline">
        <h2>Cours</h2>
      </div>



      <div class="paragraphe-cours">
        <h3>1 - Le role de la landing page</h3>
        <div class="text-corps">
          <p>Le rôle de landing page est de convaincre une cible de faire une action sur notre site pour <span class="highlight-yellow">valider une hypothèse</span>. Par exemple, on peut valider une value proposition, une feature, un produit ou encore un pricing.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>2 - Home Page Vs Landing Page</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">Landing Page :</span> sert à tester une hypothèse sur une <span class="highlight-yellow">cible bien précise qui ne vous connait pas à priori</span>. La landing page doit être le prolongement du moyen d'acqusition qui va toucher votre cible (Pub internet, post, mailing etc ... ).</p>
          <p><span class="underline-yellow bold">Home Page : </span> sert à convertir une <span class="highlight-yellow"> personne qui connait déjà votre produit</span> ou votre société, le but de ces pages est de convertir un maximum de personnes déjà informées</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>3 - Les éléments d'une landing page</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">La value proposition :</span> c'est la phrase d'accoche sur votre landing page, le but du jeu est d'expliquer en une phrase : à quoi sert votre produit, quel bénéfice immédiat en tirer (gagner du temps ou de l'argent en général), pourquoi vous êtes le meilleur</p>
          <p><span class="underline-yellow bold">Call to action :</span> un seul call to action sur la page et bien visible</p>
          <p><span class="underline-yellow bold">Minimiser les liens :</span> minimiser les liens et essayer de mettre le call to action le plus en avant</p>
          <p><span class="underline-yellow bold">Image dans le header :</span> mettre dans le header une image ou un fond uniforme. Attention à avoir les textes de la value proposition lisible. Les belles images convertissent !</p>
          <p><span class="underline-yellow bold">Indicateur de confiance :</span> n'hésitez pas à mettre les avis clients, presse, satisfait remboursé etc ...</p>
          <p><span class="underline-yellow bold">Demo de votre produit :</span> utile si vous avez une boite SAAS</p>
          <p><span class="bold">Exemple de bonne landing page :</span></p>
          <img src=" <%= image_path "prototyping-1.jpg" %>" alt="">
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>4 - Adpater son discours</h3>
        <div class="text-corps">
          <p>Il faut faire <span class="highlight-yellow">une landing page par audience</span> et adapter son discours en fonction de la cible à laquelle on parle. Par exemple sur <a href="https://www.prestashop.com/fr">Prestashop</a> : on a un discours pour <a href="https://www.prestashop.com/fr/marchands">les marchands</a>  <a href="https://www.prestashop.com/fr/developpeurs">les developpeurs</a> et les <a href="https://www.prestashop.com/fr/agences">agences</a>.</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>5 - Feedback</h3>
        <div class="text-corps">
          <p>Essayer de recontacter le maximum d'utilisateur qui laissent leurs coordonnées sur votre site. Le but est d'avoir un <span class="highlight-yellow">maximum de feedback sur votre produit</span> et l'améliorer. Si vous avez un produit payant essayer de savoir pourquoi le spersonnes n'ont pas acheté</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>6 - Fake It until You Make It</h3>
        <div class="text-corps">
          <p>Il faut bien avoir en tête que maintenant nous partons pour créer une landing page un site etc … pour vous permettre de tester, vos idées votre value proposition etc … Il ne faut donc pas hésiter à <span class="highlight-yellow">faker votre produit</span>. Cela vous permet de <span class="highlight-yellow">réduire vos coûts de développement</span> et de vous tromper. </p>
        </div>
      </div>


      <div class="title-underline">
        <h2>Ressources</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>7 - Prototyper sans code</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">Strikingly</span> : <a href="https://www.strikingly.com/">https://www.strikingly.com/</a> vous avez un plan gratuit qui vous permet de lancer plusieurs landing pages en même temps et de tester vos idées. Vous pouvez aussi configurer cette landing page avec Google Analytics et ainsi visualiser toutes les données de trafic. </p>
          <p><span class="underline-yellow bold">Kikofflab</span> : <a href="https://kickofflabs.com/ ">https://kickofflabs.com/</a> Vous permet de créer une landing et de générer de la vitalité autour de ce site. Vous pouvez intégrer des modules de partages qui font gagner des lots aux personnes qui partagent votre site par exemple, ou alors vous pouvez les faire remonter sur une short list etc … Vous pouvez aussi réaliser des tests A/B </p>
          <p><span class="underline-yellow bold">Unbounce</span> : <a href="https://unbounce.com/">https://unbounce.com/</a> qui vous permet de créer des landings un peu plus jolies et surtout de faire du commerce. Par contre après un temps d’essai le service devient payant. </p>
          <p><span class="underline-yellow bold">SquareSpace</span> : <a href="https://www.squarespace.com/">https://www.squarespace.com/</a></p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>8 - Les Icones</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">The noun project</span> : <a href="https://thenounproject.com/">https://thenounproject.com/</a>vous permet d’avoir des icônes gratuites en noir et blanc </p>
          <p><span class="underline-yellow bold">Flat Icon</span> : <a href="https://www.flaticon.com/">https://www.flaticon.com/</a> vous permet d’avoir des icônes gratuites en couleur </p>
          <p><span class="underline-yellow bold">Font Awsome</span> : <a href="http://fontawesome.io/">http://fontawesome.io/</a> vous permet d'inserer facilement des icones dans le code source de vos pages</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>9 - Les Images</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">Flickr</span> : <a href="https://www.flickr.com/">https://www.flickr.com/</a></p>
          <p><span class="underline-yellow bold">500px</span> : <a href="https://500px.com/">https://www.flaticon.com/</a></p>
          <p><span class="underline-yellow bold">Pinterest</span> : <a href="https://fr.pinterest.com/">https://fr.pinterest.com/</a> pratique pour faire des moodbards avant de vous lancer dans le dévellopement où pour montrer vos idées à une agence de dev</p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>10 - Retouche d'images</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">Sketch</span> : <a href="https://www.sketchapp.com/">https://www.sketchapp.com/</a></p>
          <p><span class="underline-yellow bold">Gimp</span> : <a href="https://www.gimp.org/">https://www.flaticon.com/</a></p>
          <p><span class="underline-yellow bold">Photoshop</span> : <a href="http://www.adobe.com/fr/creativecloud.html ">http://www.adobe.com/fr/creativecloud.html </a></p>
        </div>
      </div>



      <div class="paragraphe-cours">
        <h3>11 - inspirations</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">AWWWARDS</span> : <a href="https://www.awwwards.com/">https://www.awwwards.com/</a> contest de developpeurs web front-end</p>
          <p><span class="underline-yellow bold">Betalist</span> : <a href="https://betalist.com/">https://betalist.com/</a></p>
          <p><span class="underline-yellow bold">Pttrns</span> : <a href="pttrns.com">https://betalist.com/</a></p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>12 - Pour le Mobile</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">Pttrns</span> : <a href="https://pttrns.com">https://pttrns.com</a></p>
          <p><span class="underline-yellow bold">Marvelapp</span> : <a href="https://marvelapp.com/">https://marvelapp.com</a></p>
        </div>
      </div>


      <div class="title-underline">
        <h2>TP</h2>
      </div>


      <div class="paragraphe-cours">
        <h3>13 - Definir un test et créer une landing</h3>
        <div class="text-corps">
          <p><span class="bold">1 - Définir une cible </span>: normalement vous avez déja une idée de problème client à résoudre une cible bien précise. Essayer au mieux de definir cette cible</p>
          <p><span class="bold">2 - Définir un test </span>: suivant le stade de votre projet vous devez définir un test, par exemple : tester votre value proposition, tester votre produit, tester votre pricing sur la cible définie préalablement.</p>
          <p><span class="bold">3 - Créer votre landing</span> : ici on utilisera <a href="https://www.strikingly.com/">Strikingly</a> mais vous pouvez utiliser le module que vous voulez</p>
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p><span>.Cible 1 :</span> Cyclosportifs et/ou pratiquant de Cyclo Cross</p>
          <p><span>.Cible 2 :</span> Organisateurs de Cyclosportives</p>
          <p><span>.Cible 3 :</span> Vélocites</p>
          <p><span>.Test :</span> On va tester notre value proposition pour chaqu'une des trois cibles, on va donc créer trois landings pages. On utilisera ici <a href="https://www.strikingly.com/">Strikingly</a> & <a href="https://kickofflabs.com/ ">KickOffLab</a></p>
          <p>Landing page pour les <a href="https://challenge-assurances-velo-2018-cyclosportifs-2.kickoffpages.com/">cible 1 - cyclosportifs</a>  sur KickOffLab </p>
          <p>Landing page pour les <a href="http://challengeassurancesvelocyclosportifs.strikingly.com">cible 2 - organisateurs</a> sur Strinkingly </p>
          <p>Landing page pour les <a href="http://challengeassurancesvelocyclosportifs.strikingly.com">cible 3 - vélocistes</a> sur Strinkingly  </p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>14 - Lancer votre landing</h3>
        <div class="text-corps">
          <p><span class="bold">1 - Défnir un canal d'acqusition </span>: vous pouvez choisir d'utiliser fb ads, google adwords, ou des base mail. Ici à titre d'exmple nous nous concentreroins sur fb ads et base mail. (nous ferons une présentation plus en détail des différenxs canaux d'acqusition un prochain cours)</p>
          <p><span class="bold">2 - Facebook Ads </span> : Il faut au préalable que vous crééer une page Facebook , ensuite vous devez aller sur l'interface du <a href="https://www.facebook.com/ads/manager/account/campaigns/">gestionnaire de publicité Facebook</a></p>
          <p><span class="bold">3 - Base Mail </span> : scraper des mails sur un site, vous pouvez utiliser <a href="https://chrome.google.com/webstore/detail/web-scraper/jnhgnonknehpejjnehehllkliplmbmhn">Webscraper</a>, puis aller dans <a href="https://mailchimp.com/">MailChimp</a> configurer une campagne</p>
        </div>
      </div>

      <div class="paragraphe-cours-inverse">
        <h3>Mise en pratique</h3>
        <div class="text-corps-inverse">
          <p>Canal d'acquisition pour la cible cyclospotifs : <a href="https://www.facebook.com/ads/manager/account/campaigns/">Facebook Ads</a></p>
          <p>Canal d'acquisition pour les cibles cyclospotifs : Base Mail récupéré à l'aide de <a href="https://chrome.google.com/webstore/detail/web-scraper/jnhgnonknehpejjnehehllkliplmbmhn">Webscraper</a> & lancement d'une campagne mail avec <a href="https://mailchimp.com/">Mailchimp</a></p>
        </div>
      </div>

      <div class="paragraphe-cours">
        <h3>15 - Analyser vos métrics</h3>
        <div class="text-corps">
          <p>Analyser votre taux d'activation, tant que votre taux d'activation est inférieur à 30% vous continuer à itérer </p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>16 - Récuperer du feed back utilisateur</h3>
        <div class="text-corps">
          <p>Récuperer du retour utilisateur au maximum, modifier votre hypothèse , et itérer, itérer, itérer, itérer, itérer !</p>
        </div>
      </div>



      <br>
      <br>
      <br>
      <br>

      <br>
      <br>
      <br>
      <br>

      <br><br>

      <br><br>
      <br>
      <br>


    </div>
  </div>
</div>








