

<div class="cours-header d-flex align-items-center justify-content-center" style="background-image: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.5) 50%), url('<%= image_path "image_cours4.jpg" %>');">
  <h1>Prototyping I</h1>
</div>


<div class="container cours-page">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="title-underline">
        <h2>Cours</h2>
      </div>



      <div class="paragraphe-cours">
        <h3>.Le role de la landding page</h3>
        <div class="text-corps">
          <p>Le rôle de landing page est de convaincre une cible de faire une action sur notre site pour <span class="highlight-yellow">valider une hypothèse</span>. Par exemple, on peut valider une value proposition, une feature, un produit ou encore un pricing.</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>.Home Page Vs Landing Page</h3>
        <div class="text-corps">
          <p><span class="underline-yellow bold">Landing Page :</span> sert à tester une hypothèse sur une <span class="highlight-yellow">cible bien précise qui ne vous connait pas à priori</span>. La landing page doit être le prolongement du moyen d'acqusition qui va toucher votre cible (Pub internet, post, mailing etc ... ).</p>
          <p><span class="underline-yellow bold">Home Page : </span> sert à convertir une <span class="highlight-yellow"> personne qui connait déjà votre produit</span> ou votre société, le but de ces pages est de convertir un maximum de personnes déjà informées</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>.Les éléments d'une landing page</h3>
        <div class="text-corps">
        <p><span class="underline-yellow bold">La value proposition :</span> c'est la phrase d'accoche sur votre landing page, le but du jeu est d'expliquer en une phrase : à quoi sert votre produit, quel bénéfice immédiat en tirer (gagner du temps ou de l'argent en général), pourquoi vous êtes le meilleur</p>
        <p><span class="underline-yellow bold">Call to action :</span> un seul call to action sur la page et bien visible</p>
        <p><span class="underline-yellow bold">Minimiser les liens :</span> minimiser les liens et essayer de mettre le call to action le plus en avant</p>
        <p><span class="underline-yellow bold">Image dans le header :</span> mettre dans le header une image ou un fond uniforme. Attention à avoir les textes de la value proposition lisible. Les belles images convertissent !</p>
        <p><span class="underline-yellow bold">Indicateur de confiance :</span> n'hésitez pas à mettre les avis clients, presse, satisfait remboursé etc ...</p>
        <p><span class="underline-yellow bold">Demo de votre produit :</span> utile si vous avez une boite SAAS</p>
        </div>
      </div>


      <div class="paragraphe-cours">
        <h3>.Adpater son discours</h3>
        <div class="text-corps">
        <p>Il faut faire <span class="highlight-yellow">une landing page par audience</span> et adapter son discours en fonction de la cible à laquelle on parle. Par exemple sur <a href="https://www.prestashop.com/fr">Prestashop</a> : on a un discours pour <a href="https://www.prestashop.com/fr/marchands">les marchands</a>  <a href="https://www.prestashop.com/fr/developpeurs">les developpeurs</a> et les <a href="https://www.prestashop.com/fr/agences">agences</a>.</p>
        </div>
      </div>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<br><br>

<br><br>
<br>
<br>


    </div>
  </div>
</div>








